


.coin{
    padding: 0 20px;
}
.coin-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 100px auto;
    margin-bottom: 50px;

}

.coin-name img{
    max-width: 100px;
}

.coin-name p b{
    font-weight: 600;
    font-size: 44px;
}

.coin-chart{
    max-width: 600px;
    height: 250px;
    margin: auto;
}

.coin-info{
    max-width: 600px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;



}

.coin-info ul{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: 1px solid #5f5d5f;
    list-style: none;
}

.coin-info ul li:last-child{
    font-weight: 300;
}